# Dependências do Node
node_modules/

*/primeira-aula.pdf
# Diretórios de build
/dist/
/build/

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos temporários
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de configuração do sistema operacional
.env
.env.local
.env.*.local

# Arquivos de dependências de pacotes
package-lock.json
pnpm-lock.yaml
yarn.lock

# Diretórios de caches de pacotes
/.parcel-cache/
/.vite/

# Testes de cobertura
coverage/

# Arquivos de build de typescript
*.tsbuildinfo
